
:root{
    --zinc: #a1a1aa;
}

.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
    color: white;
}

.main-div {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.space-icon {
    color: white;
    font-size: 24px;
    mix-blend-mode: difference;
    cursor: pointer;
}

.launch-btn {
    display: flex;
    align-items: center;
    border:none;
    outline: none;
    background: none;
    gap: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--zinc);
    cursor: pointer;
}

.hero-div{
    position: relative;
    width: 100%;
    z-index: 0;
}
.center-img-div{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
}

.buffer-gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24vh;
    background-image: linear-gradient(to bottom, transparent,  #111111);
}

.parallax-imgs-div{
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 200px;
}
.parallax-img{
    z-index: 20;
}