:root{
  --purple: #8855FF;
  --white: #FFFFFF;
  --gray: #EEEEEE;
}

html, body{
  width: 100%;
  height: 100%;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.main{
  display:flex;
  background-color: var(--white);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  height: 40vw;
}.main ul{
  display: flex;
  text-align: center;
  padding: 7px 7px;
  width: 50vw;
}.main ul li{
  display:flex;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0;
  flex: 1;
  border-radius: 10px 10px 0 0; 
  position:relative;
  user-select: none;
}

.ingred-list{
  width: 50vw;
}


.selected{
  background-color: var(--gray);
}
.display{
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 20vw;
  flex-grow: 1;
  
}
.underline{
  position: absolute;
  bottom:-1px;
  left:0;
  height: 5px;
  width: 100%;
  background-color: var(--purple);
}

